@{
    ViewData["Title"] = "版本控制系统";
}

<div class="text-center">
    <h1 class="display-6">上传新版本</h1>
    <form class="mt-2" enctype="multipart/form-data" method="post" action="~/Version/Upload">
        <input class="form-control"  name="file" type="file" />
        <textarea class="form-control mt-2" name="log" placeholder="输入更新日志" rows="3"></textarea>
        <div class="row mt-2 ">
            <input class="form-control col-sm-3 btn-primary" type="submit" value="提交版本" />
        </div>
    </form>
</div>
